body {
    background-color: #C6E7FF;
    font-family: 'Courier New', Courier, monospace;
}

div.headerSpace {
    margin-left: 30px;
    margin-top: 30px;
    border-style:solid;
    border-width: 0px;
    border-left-width: 7px;
    padding-left: 10px;
    background-color: #C6CAFF;
    width: 500px;
}
.headerText {
    margin: 3px;
}

div.introSpace {
    width: 500px;
    border-width: 4px;
    border-radius: 4px;
    border-style: solid;
    margin: 60px;
    margin-left: 30px;
    padding: 10px;
    background-color: #C6FFFB;
}

div.projectList{
    width: 600px;
    border-width: 4px;
    border-radius: 4px;
    border-style: solid;
    margin: 60px;
    margin-left: 30px;
    padding: 10px;
    background-color: #FFC6E7;
}
div.projectListItem {
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    padding: 8px;
    margin-bottom: 20px;
}
h4.projectListItemHeader {
    margin: 3px;
}

img.projectPicture {
    width: 400px;
}

div.currentProject {
    background-color: #E7ffC6;
    width: 500px;
    border-width: 4px;
    border-radius: 4px;
    border-style: solid;
    margin: 60px;
    margin-left: 30px;
    padding: 10px;
}

div.devlogButton {
    background-color: #C6E7FF;
    width: 120px;
    height: 60px;
    border-width: 4px;
    border-style: double;
    border-radius: 8px;
    border-color: #000000;
    padding: 5px;
    text-align: center;
    display: table;
}

p.devlogButtonTXT {
    color: #000000;
    font-size: larger;
}

div.devlogButton:hover {
    background-color: #B2CFE5;
}

@keyframes spinUP {
    100% {transform: rotate(180deg)}
}
@keyframes spinDOWN {
    100% {transform: rotate(0deg)}
}